# Please also keep in mind that the .eslintrc* file is resolved considering the parent directories
# whereas the .eslintignore file is only honored in the current working directory.
node_modules
.serverless
.vscode
.webpack
.archive
dist
